/* BODY */
/* *{
    margin: 0;
    padding: 0;
} */

.game {
    height: fit-content;
    width: 200vh;
    background-color: darkblue;
    display: flex;
    justify-content: space-around;
}

/* PLAYER CARD ATTRIBUTES */
#playerCard{
    visibility: hidden;
}

#computerCard{
    visibility: hidden;
}

.name {
    text-align: center;
    background-color: skyblue;
}

.pic{
    text-align: center;
}

.cardDesign {
    /* display: none; */
    background-color: yellow;
    width: fit-content;
    height: fit-content;
}

#versus{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


/* PLAYER HERO STATS INFOR */
#intelligence {grid-area: intelligence;}
#strength {grid-area: strength;}
#speed {grid-area: speed;}
#durability {grid-area: durability;}
#power {grid-area: power;}
#combat {grid-area: combat;}

.statDesign {
    display: grid;
    grid-template-areas:
        'intelligence strength'
        'speed durability'
        'power combat';
    gap: 10px;
    padding: 10px;
}

.stat {
    background-color: skyblue;
}

/* CARD FLIPPING */
#flip-card {
    background-color: transparent;
    width: 300px;
    height: 100%;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

#flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  /* #flip-card:active #flip-card-inner  {
    transform: rotateY(180deg);
  } */
  
  /* Position the front and back side */
  #flip-card-front, #flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  #flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  #flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  } 